archive/src/main/schemas/wcs/1.1.0/owsDomainType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.opengis.net/wcs/1.1/ows" 
xmlns:owcs="http://www.opengis.net/wcs/1.1/ows" 
xmlns:ows="http://www.opengis.net/ows" 
xmlns:xlink="http://www.w3.org/1999/xlink" 
xmlns="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" version="1.1.0" xml:lang="en">
	<annotation>
		<appinfo>owsDomainType.xsd 2006-07-28</appinfo>
		<documentation>This XML Schema Document encodes the allowed values (or domain) of a quantity, usually for an input or output parameter to an OWS. Such a parameter is sometimes called a variable, quantity, literal, or typed literal. Such a quantity can use one of many data types, including double, integer, boolean, string, or URI. The allowed values can also be encoded for a quantity that is not explicit or not transferred, but is constrained by a server implementation.
		Copyright (c) 2006 Open Geospatial Consortium, Inc. All Rights Reserved. </documentation>
	</annotation>
	<!-- ==============================================================
		includes and imports
	============================================================== -->
	<import namespace="http://www.opengis.net/ows" schemaLocation="../../ows/1.0.0/owsCommon.xsd"/>
	<import namespace="http://www.w3.org/1999/xlink" schemaLocation="../../xlink/1.0.0/xlinks.xsd"/>
	<!-- ==============================================================
		elements and types
	============================================================== -->
	<complexType name="DomainType">
		<annotation>
			<documentation>Valid domain (or allowed set of values) of one quantity, with its name or identifier. </documentation>
		</annotation>
		<complexContent>
			<extension base="owcs:UnNamedDomainType">
				<attribute name="name" type="string" use="required">
					<annotation>
						<documentation>Name or identifier of this quantity. </documentation>
					</annotation>
				</attribute>
			</extension>
		</complexContent>
	</complexType>
	<!-- ========================================================== -->
	<complexType name="UnNamedDomainType">
		<annotation>
			<documentation>Valid domain (or allowed set of values) of one quantity, with needed metadata but without a quantity name or identifier. </documentation>
		</annotation>
		<sequence>
			<group ref="owcs:PossibleValues"/>
			<element ref="owcs:DefaultValue" minOccurs="0">
				<annotation>
					<documentation>Optional default value this quantity, which should be included when this quantity has a default value. </documentation>
				</annotation>
			</element>
			<element ref="owcs:Meaning" minOccurs="0">
				<annotation>
					<documentation>Meaning metadata, which should be referenced for each quantity. </documentation>
				</annotation>
			</element>
			<element ref="owcs:DataType" minOccurs="0">
				<annotation>
					<documentation>Data type metadata, which should be referenced for each quantity. </documentation>
				</annotation>
			</element>
			<group ref="owcs:ValuesUnit" minOccurs="0">
				<annotation>
					<documentation>Unit of measure, which should be included when this set of PossibleValues has units or a more complete reference system. </documentation>
				</annotation>
			</group>
			<element ref="ows:Metadata" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>Optional unordered list of other metadata about this quantity. A list of required and optional other metadata elements for this quantity should be specified in the Implementation Specification for this service. </documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- ========================================================== -->
	<group name="PossibleValues">
		<annotation>
			<documentation>Specifies the possible values of this quantity. </documentation>
		</annotation>
			<choice>
				<element ref="owcs:AllowedValues"/>
				<element ref="owcs:AnyValue"/>
				<element ref="owcs:NoValues"/>
				<element ref="owcs:ValuesReference"/>
			</choice>
	</group>
	<!-- ========================================================== -->
	<element name="AnyValue">
		<annotation>
			<documentation>Specifies that any value is allowed for this quantity.</documentation>
		</annotation>
		<complexType/>
	</element>
	<!-- ========================================================== -->
	<element name="NoValues">
		<annotation>
			<documentation>Specifies that no values are allowed for this quantity.</documentation>
		</annotation>
		<complexType/>
	</element>
	<!-- ========================================================== -->
	<element name="ValuesReference">
		<annotation>
			<documentation>Reference to externally specified list of all the valid values and/or ranges of values for this quantity. (Informative: This element was simplified from the metaDataProperty element in GML 3.0.) </documentation>
		</annotation>
		<complexType>
			<simpleContent>
				<extension base="string">
					<annotation>
						<documentation>Human-readable name of the list of values provided by the referenced document. Can be empty string when this list has no name. </documentation>
					</annotation>
					<attribute ref="owcs:reference" use="required">
					</attribute>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	<!-- ========================================================== -->
	<group name="ValuesUnit">
		<annotation>
			<documentation>Indicates that this quantity has units or a reference system, and identifies the unit or reference system used by the AllowedValues or ValuesReference. </documentation>
		</annotation>
			<choice>
				<element ref="owcs:UOM">
					<annotation>
						<documentation>Identifier of unit of measure of this set of values. Should be included then this set of values has units (and not a more complete reference system). </documentation>
					</annotation>
				</element>
				<element ref="owcs:ReferenceSystem">
					<annotation>
						<documentation>Identifier of reference system used by this set of values. Should be included then this set of values has a reference system (not just units). </documentation>
					</annotation>
				</element>
			</choice>
	</group>
	<!-- ========================================================== -->
	<!-- ========================================================== -->
	<element name="AllowedValues">
		<annotation>
			<documentation>List of all the valid values and/or ranges of values for this quantity. For numeric quantities, signed values shall be ordered from negative infinity to positive infinity. </documentation>
		</annotation>
		<complexType>
			<choice maxOccurs="unbounded">
				<element ref="owcs:Value"/>
				<element ref="owcs:Range"/>
			</choice>
		</complexType>
	</element>
	<!-- ========================================================== -->
	<element name="Value" type="owcs:ValueType"/>
	<!-- ========================================================== -->
	<complexType name="ValueType">
		<annotation>
			<documentation>A single value, encoded as a string. This type can be used for one value, for a spacing between allowed values, or for the default value of a quantity. </documentation>
		</annotation>
		<simpleContent>
			<extension base="string"/>
		</simpleContent>
	</complexType>
	<!-- ========================================================== -->
	<element name="DefaultValue" type="owcs:ValueType">
		<annotation>
			<documentation>The default value for a quantity for which multiple values are allowed. </documentation>
		</annotation>
	</element>
	<!-- ========================================================== -->
	<element name="Range" type="owcs:RangeType"/>
	<!-- ========================================================== -->
	<complexType name="RangeType">
		<annotation>
			<documentation>A range of values of a numeric quantity. This range can be continuous or discrete, defined by a fixed spacing between adjacent valid values. If the MinimumValue or MaximumValue is not included, there is no value limit in that direction. Inclusion of the specified minimum and maximum values in the range shall be defined by the rangeClosure. </documentation>
		</annotation>
		<sequence>
			<element ref="owcs:MinimumValue" minOccurs="0"/>
			<element ref="owcs:MaximumValue" minOccurs="0"/>
			<element ref="owcs:Spacing" minOccurs="0">
				<annotation>
					<documentation>Shall be included when the allowed values are NOT continuous in this range. Shall not be included when the allowed values are continuous in this range. </documentation>
				</annotation>
			</element>
		</sequence>
		<attribute ref="owcs:rangeClosure" use="optional">
			<annotation>
				<documentation>Shall be included unless the default value applies. </documentation>
			</annotation>
		</attribute>
	</complexType>
	<!-- ========================================================== -->
	<element name="MinimumValue" type="owcs:ValueType">
		<annotation>
			<documentation>Minimum value of this numeric quantity. </documentation>
		</annotation>
	</element>
	<!-- ========================================================== -->
	<element name="MaximumValue" type="owcs:ValueType">
		<annotation>
			<documentation>Maximum value of this numeric quantity. </documentation>
		</annotation>
	</element>
	<!-- ========================================================== -->
	<element name="Spacing" type="owcs:ValueType">
		<annotation>
			<documentation>The regular distance or spacing between the allowed values in a range. </documentation>
		</annotation>
	</element>
	<!-- ========================================================== -->
	<attribute name="rangeClosure" default="closed">
		<annotation>
			<documentation>Specifies which of the minimum and maximum values are included in the range. Note that plus and minus infinity are considered closed bounds. </documentation>
		</annotation>
		<simpleType>
			<restriction base="NMTOKENS">
				<enumeration value="closed">
					<annotation>
						<documentation>The specified minimum and maximum values are included in this range. </documentation>
					</annotation>
				</enumeration>
				<enumeration value="open">
					<annotation>
						<documentation>The specified minimum and maximum values are NOT included in this range. </documentation>
					</annotation>
				</enumeration>
				<enumeration value="open-closed">
					<annotation>
						<documentation>The specified minimum value is NOT included in this range, and the specified maximum value IS included in this range. </documentation>
					</annotation>
				</enumeration>
				<enumeration value="closed-open">
					<annotation>
						<documentation>The specified minimum value IS included in this range, and the specified maximum value is NOT included in this range. </documentation>
					</annotation>
				</enumeration>
			</restriction>
		</simpleType>
	</attribute>
	<!-- ========================================================== -->
	<!-- ========================================================== -->
	<complexType name="DomainMetadataType">
		<annotation>
			<documentation>References metadata about a quantity, and provides a name for this metadata. (Informative: This element was simplified from the metaDataProperty element in GML 3.0.) </documentation>
		</annotation>
		<simpleContent>
			<extension base="string">
				<annotation>
					<documentation>Human-readable name of the metadata described by associated referenced document. </documentation>
				</annotation>
				<attribute ref="owcs:reference" use="optional"/>
			</extension>
		</simpleContent>
	</complexType>
	<!-- ========================================================== -->
	<attribute name="reference" type="anyURI">
		<annotation>
			<documentation>Reference to data or metadata recorded elsewhere, either external to this XML document or within it. Whenever practical, this attribute should be a URL from which this metadata can be electronically retrieved. Alternately, this attribute can reference a URN for well-known metadata. For example, such a URN could be a URN defined in the "ogc" URN namespace. </documentation>
		</annotation>
	</attribute>
	<!-- ========================================================== -->
	<element name="Meaning" type="owcs:DomainMetadataType">
		<annotation>
			<documentation>Reference to the meaning or semantics of this value or set of values. </documentation>
		</annotation>
	</element>
	<!-- ========================================================== -->
	<element name="DataType" type="owcs:DomainMetadataType">
		<annotation>
			<documentation>Reference to the data type of this value or set of values. In this case, the '"reference" attribute can reference a URN for a well-known data type. For example, such a URN could be a data type identification URN defined in the "ogc" URN namespace. </documentation>
		</annotation>
	</element>
	<!-- ========================================================== -->
	<element name="ReferenceSystem" type="owcs:DomainMetadataType">
		<annotation>
			<documentation>Reference to the reference system used by this set of values, including the unit of measure whenever applicable (as is normal). In this case, the '"reference" attribute can reference a URN for a well-known reference system, such as for a coordinate reference system (CRS). For example, such a URN could be a CRS identification URN defined in the "ogc" URN namespace. </documentation>
		</annotation>
	</element>
	<!-- ========================================================== -->
	<element name="UOM" type="owcs:DomainMetadataType">
		<annotation>
			<documentation>Reference to the unit of measure of this value or set of values. In this case, the '"reference" attribute can reference a URN for a well-known unit of measure (uom). For example, such a URN could be a UOM identification URN defined in the "ogc" URN namespace. </documentation>
		</annotation>
	</element>
	<!-- ========================================================== -->
</schema>
