wmoTables/src/main/sources/ukmet/BUFR_tables.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) by Gil Ross (Met Office) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!-- The base BUFR_tables.xsd used to define Table B and Table D schema.
	Developed by Gil Ross Met Office 31 July 2008. -->
	<xs:attributeGroup name="version">
		<xs:attribute name="versionName" type="xs:string" use="optional"/>
		<xs:attribute name="versionNumber" type="xs:decimal" use="optional"/>
		<xs:attribute name="versionDate" type="xs:date" use="optional"/>
	</xs:attributeGroup>
	<xs:element name="BUFRCatalogue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="catalogueName"/>
				<xs:element ref="annotation"/>
				<xs:element ref="featureClass" maxOccurs="unbounded"/>
				<xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attributeGroup ref="version"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="featureCatalogue">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="catalogueName"/>
				<xs:element ref="annotation"/>
				<xs:choice>
					<xs:element ref="featureCollection" maxOccurs="unbounded"/>
					<xs:element ref="feature" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:element ref="note" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:pattern value="F[0-9]X[0-9]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attributeGroup ref="version"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="featureClass">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="annotation"/>
				<xs:element ref="name"/>
				<xs:element ref="F"/>
				<xs:element ref="X"/>
			</xs:sequence>
			<xs:attribute name="IDREF" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:pattern value="F[0-9]X[0-9]{2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="prefix" type="xs:string" use="required"/>
			<xs:attributeGroup ref="version"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="featureCollection">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="annotation"/>
				<xs:element ref="name"/>
				<xs:element ref="F"/>
				<xs:element ref="X"/>
				<xs:element ref="Y"/>
				<xs:element ref="feature" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:pattern value="F[0-9]X[0-9]{2}Y[0-9]{3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attributeGroup ref="version"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="feature">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="annotation"/>
				<xs:element ref="name"/>
				<xs:element ref="F"/>
				<xs:element ref="X"/>
				<xs:element ref="Y"/>
				<xs:element ref="BUFR" minOccurs="0"/>
				<xs:element ref="CREX" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:pattern value="F[0-9]X[0-9]{2}Y[0-9]{3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attributeGroup ref="version"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BUFR_reference" type="xs:string"/>
	<xs:element name="BUFR_scale" type="xs:string"/>
	<xs:element name="BUFR_units" type="xs:string"/>
	<xs:element name="BUFR_width" type="xs:string"/>
	<xs:element name="BUFR">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BUFR_units"/>
				<xs:element ref="BUFR_scale"/>
				<xs:element ref="BUFR_reference"/>
				<xs:element ref="BUFR_width"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CREX">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CREX_units"/>
				<xs:element ref="CREX_scale"/>
				<xs:element ref="CREX_width"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CREX_scale">
		<xs:simpleType>
			<xs:restriction base="xs:integer"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CREX_units" type="xs:string"/>
	<xs:element name="CREX_width">
		<xs:simpleType>
			<xs:restriction base="xs:byte"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="F">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="X">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Y">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="annotation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="documentation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="documentation">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="note">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:pattern value="(B|D)_class_(all|\d{2})_\d{1,2}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="catalogueName">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="prefix" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
</xs:schema>
