cdm/src/main/resources/resources/thredds/schemas/CatalogGenConfig.0.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://www.unidata.ucar.edu/namespaces/thredds/CatalogGenConfig/v0.5"
            xmlns="http://www.unidata.ucar.edu/namespaces/thredds/CatalogGenConfig/v0.5"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
            xmlns:cat="http://www.unidata.ucar.edu/namespaces/thredds/InvCatalog/v1.0"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            elementFormDefault="qualified">
            
  <xs:import namespace="http://www.unidata.ucar.edu/namespaces/thredds/InvCatalog/v1.0"
              schemaLocation="http://www.unidata.ucar.edu/schemas/thredds/InvCatalog.1.0.xsd"/>
            
	<xs:element name="catalogGenConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="datasetSource" ref="datasetSource"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Catalog"/>
						<xs:enumeration value="Aggregation"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="datasetFilter">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="RegExp"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="matchPattern" type="xs:string"/>
			<xs:attribute name="matchPatternTarget" type="xs:string"/>
      <xs:attribute name="applyToCollectionDatasets" type="xs:boolean" default="false"/>
      <xs:attribute name="applyToAtomicDatasets" type="xs:boolean" default="true"/>
      <xs:attribute name="rejectMatchingDatasets" type="xs:boolean" default="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="datasetNamer">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="addLevel" type="xs:boolean" use="required"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="RegExp"/>
						<xs:enumeration value="DodsAttrib"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="matchPattern" type="xs:string"/>
			<xs:attribute name="substitutePattern" type="xs:string"/>
			<xs:attribute name="attribContainer" type="xs:string"/>
			<xs:attribute name="attribName" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="datasetSource">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resultService" >
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="serviceType" type="cat:serviceTypes" use="required"/>
						<xs:attribute name="base" type="xs:string" use="required"/>
						<xs:attribute name="suffix" type="xs:string"/>
						<xs:attribute name="accessPointHeader" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element name="datasetNamer" ref="datasetNamer"/>
					<xs:element name="datasetFilter" ref="datasetFilter"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Local"/>
						<xs:enumeration value="DodsDir"/>
						<xs:enumeration value="DodsFileServer"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="structure" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Flat"/>
						<xs:enumeration value="DirTree"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="accessPoint" type="xs:string" use="required"/>
			<xs:attribute name="createCatalogRefs" type="xs:boolean" default="false"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
