cdm/src/main/resources/resources/thredds/schemas/InvCatalog.0.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->

<xs:schema 
      targetNamespace="http://www.unidata.ucar.edu/thredds"
      xmlns="http://www.unidata.ucar.edu/thredds"
      xmlns:xs="http://www.w3.org/2001/XMLSchema" 
      xmlns:xlink="http://www.w3.org/1999/xlink"
      elementFormDefault="qualified"
      attributeFormDefault="unqualified"  version="0.6">
    
  <!-- import other namespaces --> 
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.unidata.ucar.edu/schemas/other/xlink.xsd"/>

  <xs:element name="access">
    <xs:complexType>
      <xs:attribute name="urlPath" type="xs:string" use="required"/>
      <xs:attribute name="serviceName" type="xs:string"/>
      <xs:attribute name="serviceType">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="DODS"/>
            <xs:enumeration value="ADDE"/>
            <xs:enumeration value="NetCDF"/>
            <xs:enumeration value="Catalog"/>
            <xs:enumeration value="QueryCapability"/>
            <xs:enumeration value="Resolver"/>
            <xs:enumeration value="HTTP"/>
            <xs:enumeration value="FTP"/>
            <xs:enumeration value="GridFTP"/>
            <xs:enumeration value="WMS"/>
            <xs:enumeration value="WFS"/>
            <xs:enumeration value="WCS"/>
            <xs:enumeration value="WSDL"/>
            <xs:enumeration value="Compound"/>
            <xs:enumeration value="Other"/>
            <xs:enumeration value="XML"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dataset"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="catalogRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element  ref="documentation" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
         
       <xs:attributeGroup ref="XLink" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="dataset">
    <xs:complexType>
      <xs:sequence>
      
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element  ref="service"/>
          <xs:element  ref="documentation"/>
          <xs:element  ref="metadata"/>
          <xs:element  ref="property"/>
        </xs:choice>
        
        <xs:element ref="access" minOccurs="0" maxOccurs="unbounded"/>
        
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element  ref="dataset"/>
          <xs:element  ref="catalogRef"/>
        </xs:choice>
        
      </xs:sequence>
      
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="dataType">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Grid"/>
            <xs:enumeration value="Image"/>
            <xs:enumeration value="Station"/>
            <xs:enumeration value="GIF"/>
            <xs:enumeration value="Unknown"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      
      <xs:attribute name="authority" type="xs:string"/>
      <xs:attribute name="ID" type="xs:ID"/>
      <xs:attribute name="alias" type="xs:IDREF"/>
      <xs:attribute name="serviceName" type="xs:string"/>
      <xs:attribute name="urlPath" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="documentation" type="documentationType" />
  <xs:complexType name="documentationType" mixed="true">    
      <xs:attributeGroup ref="XLink" />
  </xs:complexType>
  
   <xs:element name="metadata">
      <xs:complexType>
        <xs:sequence>
           <xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="strict"/>
        </xs:sequence>
      
       <xs:attribute name="metadataType" type="xs:string"  /> <!-- deprecated -->
       <xs:attributeGroup ref="XLink" />
    </xs:complexType>
  </xs:element>
  
  <xs:element name="property">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="service">
    <xs:complexType>
    
      <xs:sequence>
        <xs:element  ref="property" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element  ref="service" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="serviceType" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="DODS"/>
            <xs:enumeration value="ADDE"/>
            <xs:enumeration value="NetCDF"/>
            <xs:enumeration value="Catalog"/>
            <xs:enumeration value="QueryCapability"/>
            <xs:enumeration value="Resolver"/>
            <xs:enumeration value="HTTP"/>
            <xs:enumeration value="FTP"/>
            <xs:enumeration value="GridFTP"/>
            <xs:enumeration value="WMS"/>
            <xs:enumeration value="WFS"/>
            <xs:enumeration value="WCS"/>
            <xs:enumeration value="WSDL"/>
            <xs:enumeration value="Compound"/>
            <xs:enumeration value="Other"/>
            <xs:enumeration value="XML"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      
      <xs:attribute name="base" type="xs:string" use="required"/>
      <xs:attribute name="suffix" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  
    <!-- Xlink attribute group -->
  <xs:attributeGroup name="XLink">
      <xs:attribute ref="xlink:type" default="simple"/>
      <xs:attribute ref="xlink:href"/>
      <xs:attribute ref="xlink:title"/>
      <xs:anyAttribute namespace="http://www.w3.org/1999/xlink" processContents="strict" />    
  </xs:attributeGroup>
  
</xs:schema>
