cdm/src/main/resources/resources/thredds/schemas/xlink.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- METS XLink Schema, v. 2, Nov. 15, 2004 fragment from http://www.loc.gov/standards/mets/xlink.xsd -->
<schema targetNamespace="http://www.w3.org/1999/xlink"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        elementFormDefault="qualified">

  <attribute name="type" type="string"/>
  <attribute name="href" type="anyURI"/>
  <attribute name="show" type="string"/>
  <attribute name="title" type="string"/>
</schema>

