cdm/src/main/resources/resources/thredds/schemas/xlink.xsd

<?xml version="1.0"?>
<xsd:schema 
  xmlns="http://www.w3.org/1999/xlink"
  targetNamespace="http://www.w3.org/1999/xlink" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
    <xsd:attribute name="type" type="xsd:string"/>
    <xsd:attribute name="href" type="xsd:anyURI"/>
    <xsd:attribute name="show" type="xsd:string"/>
    <xsd:attribute name="title" type="xsd:string"/>
  
</xsd:schema>
